.bread-crumbs-wrapper {
  position: relative;
  height: 60px;
  background: transparent;

  .breadcrumb {
    li {
			display: inline-block;
			position: relative;
			margin-right: 16px;
			padding-right: 25px;

			a, span {
				font-size: 14px;
				color: #7D6F5F;
				text-decoration: none;
				transition: 0.3s;
				&:hover {
					color: $orange-color;
				}
			}

			&::after {
				content: '\203A';
				position: absolute;
				right: 0;
				font-size: 20px;
			}

			&.active {
				margin-right: 0;
				padding-right: 0;

				&::after {
					content: '';
				}

				a, span {
					color: $primary;
				}
				a {
					font-weight: 600;
				}
			}
    }
	}
	
	@media screen and (max-width: $xl-screen) {
		display: none;
	}
}

.blog-page, .travel-tips-page {
	.breadcrumb li {
		a, span {
			color: #697785;
			&:hover {
				color: $orange-color;
			}
		}
	}
}

.blog-article-page, .travel-tips-attactions-page {
	.breadcrumb li {
		a, span {
			color: $primary;
			font-weight: 600;
			&:hover {
				color: $orange-color;
			}
		}
		&.active {
			a, span {
				color: $gray;
				font-weight: 400;
			}
		}
	}
}

.landing-page {
	.bread-crumbs-wrapper {
		height: auto;
	}
}

.direction-city-page, .service-page, .hotels-page, .landing-page {
	.bread-crumbs-wrapper {
		position: absolute;
		z-index: 1;

		.breadcrumb {
			li {
				a, span {
					color: $white;
					&:hover {
						color: $orange-color;
					}
				}

				a {
					font-weight: 600;
				}

				&::after {
					color: #ffffff;
				}

				&.active {
					a, span {
						color: $white;
					}
				}
			}
		}
	}
}

.about-page {
	.bread-crumbs-wrapper {
		.breadcrumb {
			display: flex;
			align-items: center;
			height: 100%;
			border-bottom: 1px solid rgba(255,255,255, 0.1);
			width: 100%;
			justify-content: center;
			li {
				a, span {
					color: $white;
					&:hover {
						color: $orange-color;
					}
				}
				&.active {
					a, span {
						color: $white;
					}
				}
				&::after {
					color: $white;
				}
			}

		}
	}
}