.flight-request-accepted {
  .welcome-block-wrapper {
    .welcome-block {
      padding: 60px 0;
    }

    .tickets-holder-wrapper {
      width: 100%;
      height: 100%;

      .tickets-holder-inner {
        min-height: 435px;
        border-radius: 32px;
        filter: drop-shadow(0px 8px 56px rgba(0, 0, 0, 0.25));

        .ticket-grid {
          display: grid;
          grid-template-columns: 783px 232px;
        }

        .ticket-separator-line {
          border-left: 1px dashed rgba(49, 48, 47, 0.5);
        }

        .header {
          width: 100%;
          height: 80px;
          border-radius: 32px 32px 0 0;
          background-color: #31302F;

          .ticket-separator-line {
            border-left: 1px dashed rgba(244, 241, 237, 0.25);
          }

          .ticket-number {
            font-size: 16px;
            color: #ffffff;
            padding: 10px 0 0 30px;

            .num {
              font-size: 20px;
              font-family: GilroySemiBold, serif;
              color: #ffffff;
              margin-top: 8px;
            }
          }
        }

        .content {
          width: 100%;
          background-color: $white;

          &.person-info {
            background-color: #F4F1ED;
            .column-1 {
              padding: 32px 40px;
            }
            .column-2 {
              padding: 32px 40px 24px 40px;
            }
          }

          &.flight-info {
            border-radius: 0 0 32px 32px;
            .column-1 {
              .airport-info {
                padding: 32px 48px 20px;
                .dotted-separator {
                  overflow: visible;
                  &:after {
                    bottom: 25px;
                  }
                }
              }
              .ticket-info {
                padding: 20px 32px 32px;
              }
            }
            .column-2 {
              padding: 36px 40px 24px 40px;
            }
          }

          .phone {
            font-family: GilroySemiBold, serif;
            .icon-phone-fill {
              background: #EC7F00;
              border-radius: 12px;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $white;
              font-size: 16px;
              &::before {
                margin: auto;
                animation: phone-icon 3000ms infinite;
                transform: translate3d(0, 0, 0);
              }
            }
      
            .title {
              color: #ff5722;
            }
          }

          .name-passenger {
            font-size: 24px;
            font-family: GilroySemiBold, serif;
            margin-bottom: 8px;
          }

          .people-number {
            font-size: 13px;
          }

          .from-to {
            .from {
              padding-right: 16px;
            }
            .to {
              padding-left: 16px;
              text-align: right;
            }

            .icon-airplane {
              transform: rotate(90deg);
              font-size: 30px;
              color: #31302F;
              position: relative;
              z-index: 1;
              padding-bottom: 16px;
              padding-top: 16px;
              background-color: $white;
            }

            .airport-code {
              color:#31302F;
              font-size: 56px;
              transform: translateY(5px);
              font-family: SilkSerifMedium, serif;
            }
            .detail {
              max-width: 300px;
              display: block;
              font-weight: 500;
            }
          }

          .ticket-info {
            p {
              color: $black;
              background-color: #EEEAE8;
              border-radius: 16px;
              padding: 13px 22px;
            }
          }

          .cabin-holder {
            .ttl {
              margin-bottom: 10px;
            }

            .cabin {
              font-size: 18px;
            }
          }

          .date-holder {
            margin-bottom: 30px;

            .ttl {
              font-family: ProximaNovaMedium, sans-serif;
              margin-bottom: 10px;
            }

            .date {
              position: relative;
              font-size: 22px;
              padding-left: 26px;
              box-sizing: border-box;
              font-family: GilroySemiBold, serif;

              &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 16px;
                top: 2px;
                left: 0;

                background-repeat: no-repeat;
              }
              &.from:before {
                background-image: url("/public/img/calendar-from-date.svg");
              }
              &.to:before {
                background-image: url("/public/img/calendar-to-date.svg");
              }
            }
          }
        }
      }

      @media screen and (max-width: $xl-screen) {
        padding: 0 20px;
        box-sizing: border-box;

        .ticket-grid {
          display: grid;
          grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        }

        .tickets-holder-inner {
          display: block;
        }

        .header {
          height: auto !important;
          padding: 20px !important;
        }

        .ticket-separator-line {
          border: none !important;
        }

        .person-info {
          .column-1 {
            padding: 20px 20px 10px !important;
          }
          .column-2 {
            padding: 10px 20px 20px !important;
          }
        }

        .flight-info {
          border-radius: 0 0 32px 32px;
          .column-1 {
            .airport-info {
              padding: 20px !important;
              .dotted-separator {
                &:after {
                  content: '' !important;
                }
              }
            }
            .ticket-info {
              padding: 20px !important;
            }
          }
          .column-2 {
            padding: 20px !important;
          }
          .from-to {
            .from.airport-code {
              padding-right: 0 !important;
              padding-bottom: 16px;
            }
            .to.airport-code  {
              padding-top: 16px;
              padding-left: 0 !important;
              padding-bottom: 16px;
            }
          }
        }
      }
    }
  }
}