@font-face {
    font-family: "ProximaNova";
    src: url('../fonts/proximanova_regular.ttf') format("truetype");
}

@font-face {
    font-family: "ProximaNovaMedium";
    src: url('../fonts/ProximaNova-Medium.otf') format("truetype");
}

@font-face {
    font-family: "ProximaNovaLight";
    src: url('../fonts/proximanova_light.otf') format("truetype");
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "GilroyLight";
    src: url('../fonts/Gilroy-Light.ttf') format("truetype");
}

@font-face {
    font-family: "GilroyMedium";
    src: url('../fonts/Gilroy-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "GilroySemiBold";
    src: url('../fonts/Gilroy-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "GilroyBold";
    src: url('../fonts/Gilroy-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "SilkSerifBold";
    src: url('../fonts/Silk Serif Bold.otf') format("opentype");
}

@font-face {
    font-family: "SilkSerifMedium";
    src: url('../fonts/SilkSerif-Medium.woff') format("woff");
}

.font-proxima-nova-regular{
    font-family: ProximaNova, sans-serif;
}

.font-proxima-nova-medium{
    font-family: ProximaNovaMedium, sans-serif;
}

.font-proxima-nova-light{
    font-family: ProximaNovaLight, sans-serif;
}

.font-gilroy-regular{
    font-family: Gilroy, ProximaNova, sans-serif;
}

.font-gilroy-light{
    font-family: GilroyLight, ProximaNova, sans-serif;
}

.font-gilroy-semibold{
    font-family: GilroySemiBold, Gilroy, ProximaNova, sans-serif;
}

.font-gilroy-bold{
    font-family: GilroyBold, Gilroy, ProximaNova, sans-serif;
}

.font-silk-serif-bold{
    font-family: SilkSerifBold, sans-serif;
}

.font-silk-serif-medium{
    font-family: SilkSerifMedium, sans-serif;
}

.head-shadow {
    text-shadow: 0 5px 5px #ccc;
}