header {
  z-index: 1000;
}
.header-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  .contact-form {
    display: none;
    .btn {
      padding: 12px;
    }
  }
}

.menu-sub-wrapper {
  z-index: 99;
  &.fixed {
    position: fixed;
    top: 64px;
    width: 100%;
    .menu-sub {
      margin-top: 0px;
    }
  }

  .menu-sub {
    opacity: 0;
    position: absolute;
    left: -9999px;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    transition: opacity 0.2s ease-in;
    border-top: 1px solid #E2E2E3;
    margin-top: 10px;
    box-shadow: 0 56px 80px rgba(0, 0, 0, 0.25);

    .menu-content {
      padding: 20px 20%;
    }

    &.active {
      left: 0;
      opacity: 1;
    }
  }
}

.main-nav {
  .main-nav-logo {
    display: none;
    @apply 2xl:-ml-[180px] xl:-ml-[20px] 2xl:pr-[120px] xl:pr-[70px]
  }
  &.fixed {
    position: fixed;
    padding-top: 11px;
    padding-bottom: 11px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(13.5px);
    .main-nav-logo {
      display: block;
    }
  }
  .current-page {
    @apply text-gray-2;
  }
  .main-nav-list {
    @apply text-base-2;
  }
}

.header-mobile-wrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  height: 80px;

  .header-head {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
  }

  .open-menu {
    width: 18px;
    height: 12px;
    background-image: url('/public/img/spraite-iffc.png');
    background-repeat: no-repeat;
    background-position: 0 -216px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 6px);
    left: 20px;
  }

  .icon-phone-link {
    position: absolute;
    top: calc(50% - 24px);
    right: 8px;
    .icon-phone {
      width: 48px;
      height: 48px;
      background: #EEEAE8;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .left-menu {
    position: fixed;
    z-index: 102;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s linear;
    cursor: pointer;

    &.open {
      left: 0;
      background-color: rgba(0, 0, 0, 0.15);

      .left-menu-inner {
        transform: translate3d(0, 0, 0);
      }
    }

    &.closing {
      background-color: rgba(0, 0, 0, 0);

      .left-menu-inner {
        transform: translate3d(-250px, 0, 0);
      }
    }

    .left-menu-inner {
      position: absolute;
      left: 0;
      top: 0;
      padding: 90px 60px 40px 30px;
      width: 250px;
      height: 100%;
      background-color: #ffffff;
      z-index: 0;
      transform: translate3d(-250px, 0, 0);
      transition: transform 0.3s ease-out;
      box-shadow: 5px 0px 5px -4px rgba(0, 0, 0, 0.5);
      cursor: auto;

      .close-menu {
        position: absolute;
        z-index: 1;
        display: block;
        width: 14px;
        height: 14px;
        top: 20px;
        left: 15px;
        background-image: url('/public/img/spraite-iffc.png');
        background-repeat: no-repeat;
        background-position: 0 -231px;
        cursor: pointer;
      }

      .nav-menu {
        li {
          padding: 8px 0;

          a {
            display: inline-block;
            font-size: 16px;
            color: #424242;
            text-decoration: none;
          }
        }
      }

      .tel-menu {
        position: absolute;
        bottom: 40px;
        font-size: 15px;
        padding-left: 15px;
        color: #424242;

        a {
          font-size: 18px;
          color: #424242;
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: $xl-screen) {
    display: flex;
  }
}

.main-nav-list {
  .link {
    padding: 10px 15px;
    @apply rounded-full flex items-center;
    &:active, &.active {
      background-color: $hover-bg-color;
      color: $orange-color;
    }
  }
}

.menu-dropdown {
  background: #FFFFFF;
  border: unset;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  min-width: 200px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition:opacity 0.3s ease-out;
  border-radius: 16px;
  box-shadow: 0 16px 56px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
  top: 100%;
  &.active {
      opacity: 1 !important;
      height: auto !important;
      visibility: visible;
  }

  ul {
    padding: 8px 2px;
    border-radius: 16px;
    li {
      font-family: ProximaNovaMedium, sans-serif;
      height: 48px;
      padding: 0px 16px 0px 20px;
      display: flex;
      align-items: center;
      width: 100%;
      color: $black;
      transition: 0.3s;
      &:hover,  &.active {
        background: #FCF1E5;
        border-radius: 10px;
      }
    }
  }
}

.dropdown {
  @apply flex items-center;
  i {
    padding-left: 4px;
    padding-top: 2px;
  }
}
