@import "variables";
@import "swiper";
@import "tom-select";
@import "fonts";
@import "../fonts/icons/css/iflyfirstclass-icons.css";
@import "header";
@import "footer";
@import "buttons";
@import "form";
@import "bread-crumbs";
@import "blog-list";
@import "flight-request-accepted";
@import "support-chat";
@import "flight-tracker";
@import "visa";
@import "request-quote";
@import "autocomplete";

body,
html {
  min-height: 100vh;
  height: 100vh;
}

body {
  @apply text-primary xl:text-base text-sm font-proxima-nova-regular leading-5 tracking-wide;
}

[v-cloak] {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: GilroySemiBold, sans-serif;
}

h1 {
  @apply xl:text-6xl lg:text-5xl text-4xl
}

h2 {
  @apply xl:text-5xl lg:text-4xl text-3xl
}

h3 {
  @apply xl:text-4xl lg:text-3xl text-2xl
}

h4 {
  @apply xl:text-3xl lg:text-2xl text-xl
}

h5 {
  @apply xl:text-2xl text-xl
}

h6 {
  @apply xl:text-xl text-lg
}

.link {
  transition: 0.5s;
  @apply cursor-pointer;
  &:hover {
    color: $orange-color;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E4E5E5;
  padding: 0;
}

.back-slide, .back-slide-wrapper {
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.welcome-block-wrapper{
  padding: 0 8px;
  &.home {
    .back-slide {
      background-image: url('/public/img/full-hd-home-banner.webp');
    }

    @media screen and (max-width: $xl-screen) {
      .back-slide {
        background-image: url('/public/img/mobile-home-banner.webp');
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left:0;
          bottom:0;
          right: 0;
          backdrop-filter: blur(20px);
          z-index: 0;
          border-radius: 10px;
        }
      }
    }

    @media screen and (min-width: $xxxl-screen) {
      .back-slide-wrapper {
        background-image: url('/public/img/2k-hd-home-banner.webp');
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .back-slide {
        background-image: url('/public/img/2k-hd-home-banner.webp');
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left:0;
          bottom:0;
          right: 0;
          backdrop-filter: blur(20px);
          z-index: 0;
          border-radius: 10px;
        }
      }
    }
  }
  &.flight-request-accepted-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/public/img/home-banner.webp');
  }
  &.first-class-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/first-class.jpg');
  }
  &.business-class-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/business-class.webp');
  }
  &.hotels-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/img-poster-hotel.jpg');
  }
  &.last-minute-deals-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/last-minyte-deals.jpg');
    background-position-x: 50%;
  }
  &.contact-us .back-slide{
    background-image:  url('/design/photo/about-top.jpg');
    background-position-x: 70%;
  }
  .welcome-block-call-widget {
    background: rgba(23, 23, 23, 0.7);
    box-shadow: 0 8px 56px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(13.5px);
  }
}

.text-gold-gradient {
  background: $gold-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gold-gradient {
  border-image-slice: 1;
  border-image-source:  $gold-gradient;
}

.text-gold-gradient-2 {
  background: $gold-gradient-2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gold-gradient-2 {
  border-image-slice: 1;
  border-image-source:  $gold-gradient-2;
}

.text-white-gradient {
  background: $white-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-blue-white-gradient {
  background: $white-gradient-2 no-repeat border-box, $blue-gradient no-repeat border-box;
}

.bg-brown-white-gradient {
  background: $white-gradient-2 no-repeat border-box, $brown-gradient no-repeat border-box;
}

.bg-white-gradient {
  background: $white-gradient;
}

.bg-gray-gradient {
  background: $gray-gradient;
}

.wave {
  background-image: url('/public/img/wave-element.svg');
  background-size: contain;
  height: 10px;
  width: 98%;
  margin-left: 1%;
}

.landing-columns {
  height: 410px;
  overflow: hidden;
  &.open {
    height: auto;
  }
}

.landing-more-link {
  &.disable{
    display:none;
  }
}

.reviews-wrapper {
  max-height: 320px;
  overflow: hidden;
  &.open {
    max-height: unset;
  }
}

.show-more-reviews {
  &.disable{
    display:none;
  }
}

.more-deals-wrapper {
  display: none;
  &.open {
    display: grid;
  }
}

.show-more-deals {
  &.disable{
    display:none;
  }
}

.ui-datepicker{
  z-index: 2 !important;
}

.dotted-separator {
  overflow: hidden;
  position: relative;
  &:after{
    content:'....................................................................................................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #9c9fa0;
    position: absolute;
    bottom: 2px;
  }
  span {
    z-index: 1;
    background-color: $white;
  }
}

.contact-form {
  background: #FFFFFF;
  box-shadow: 0 8px 56px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.show-more-btn {
  transition: 0.3s;
  @apply rounded-full py-2 px-2 w-fit flex items-center cursor-pointer;
  i {
    transition: 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    padding-top: 2px;
  }
}

.show-more-deals {
  @apply border border-gray-light;
  i {
    background-color: #EDEAE8;
  }
  &:hover {
    background-color: #EDEAE8;
    i {
      background-color: #ffffff;
    }
  }
}

.show-more-reviews {
  background-color: #E3DCD7;
  i {
    background-color: $white;
  }
  &:hover {
    background-color: #EAE5E0;
    i {
      color: $orange-color;
    }
  }
}

.show-more-destination {
  background-color: #F4F1ED;
  i {
    background-color: $white;
  }
  &:hover {
    background-color: #EAE5E1;
    i {
      color: $orange-color;
    }
  }
}

.video-container {
  background-image: linear-gradient(90deg, #31302F 0%, rgba(49, 48, 47, 0) 100%), url('/public/img/video-poster.webp');
  background-size: cover;
  width: 100%;

  &:hover {
    .play-btn {
      background-image: url("/public/img/play-btn-gold.svg");
    }
  }
  .play-btn {
    background-image: url("/public/img/play-btn.svg");
    transition: 0.3s;
    width: 96px;
    height: 96px;
  }
}

.dealth-block-wrapper {
  .description-1 {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.home .welcome-block{
  .icon-phone-fill {
    background: linear-gradient(225deg, #FCB35F 0%, #DD7700 76%), linear-gradient(0deg, #DD7700, #DD7700), #FFFFFF;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    &::before {
      margin: auto;
      width: 17px;
      height: 17px;
      animation: phone-icon 3000ms infinite;
      transform: translate3d(0, 0, 0);
    }
  }
}

@keyframes phone-icon {
  0% { transform: translate3d(0em, 0, 0); }
  2% { transform: translate3d(0.1em, 0, 0); }
  4% { transform: translate3d(-0.1em, 0, 0); }
  6% { transform: translate3d(0.1em, 0, 0); }
  8% { transform: translate3d(-0.1em, 0, 0); }
  10% { transform: translate3d(0.1em, 0, 0); }
  12% { transform: translate3d(-0.1em, 0, 0); }
  14% { transform: translate3d(0.1em, 0, 0); }
  16% { transform: translate3d(-0.1em, 0, 0); }
  18% { transform: translate3d(0.1em, 0, 0); }
  20% { transform: translate3d(-0.1em, 0, 0); }
  22% { transform: translate3d(0.1em, 0, 0); }
  24% { transform: translate3d(-0.1em, 0, 0); }
  26% { transform: translate3d(0.1em, 0, 0); }
  28% { transform: translate3d(-0.1em, 0, 0); }
  30% { transform: translate3d(0.1em, 0, 0); }
  32% { transform: translate3d(-0.1em, 0, 0); }
  34% { transform: translate3d(0.1em, 0, 0); }
  36% { transform: translate3d(-0.1em, 0, 0); }
  38% { transform: translate3d(0.1em, 0, 0); }
  40% { transform: translate3d(-0.1em, 0, 0); }
  42% { transform: translate3d(0.1em, 0, 0); }
  44% { transform: translate3d(-0.1em, 0, 0); }
  46% { transform: translate3d(0em, 0, 0); }
}

.popup-backdrop {
  position: fixed;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  &.showed {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.popup-content {
  position: absolute;
  top: calc(50% - 180px);
  left: 8px;
  right: 8px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  & video {
    border-radius: 16px;
  }
  @media screen and (min-width: $xl-screen) {
    top: calc(50% - 288px);
    left: calc(50% - 512px);
    right: auto;
    & video {
      max-width: none;
      width: 1024px;
      height: 576px;
    }
  }
}