@import "variables";
@import "swiper";
@import "tom-select";
@import "fonts";
@import "../fonts/icons/css/iflyfirstclass-icons.css";
@import "header";
@import "footer";
@import "buttons";
@import "form";
@import "bread-crumbs";
@import "blog-list";
@import "flight-request-accepted";
@import "support-chat";
@import "flight-tracker";
@import "visa";
@import "request-quote";
@import "autocomplete";

body,
html {
  min-height: 100vh;
  height: 100vh;
}

body {
  @apply text-primary xl:text-base text-sm font-proxima-nova-regular leading-5 tracking-wide;
}

[v-cloak] {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: Gilroy, sans-serif;
}

h1 {
  @apply xl:text-6xl lg:text-5xl text-4xl
}

h2 {
  @apply xl:text-5xl lg:text-4xl text-3xl
}

h3 {
  @apply xl:text-4xl lg:text-3xl text-2xl
}

h4 {
  @apply xl:text-3xl lg:text-2xl text-xl
}

h5 {
  @apply xl:text-2xl text-xl
}

h6 {
  @apply xl:text-xl text-lg
}



hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E4E5E5;
  padding: 0;
}

.back-slide {
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}

.welcome-block-wrapper{
  padding: 0 8px;
  &.home .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/public/img/home-banner.webp');
  }
  &.first-class-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/first-class.jpg');
  }
  &.business-class-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/business-class.webp');
  }
  &.hotels-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/img-poster-hotel.jpg');
  }
  &.last-minute-deals-page .back-slide{
    background-image: linear-gradient(90deg, rgba(33, 33, 33, 0.56) 0%, rgba(33, 33, 33, 0.32) 100%), url('/design/photo/last-minyte-deals.jpg');
    background-position-x: 50%;
  }
  &.contact-us .back-slide{
    background-image:  url('/design/photo/about-top.jpg');
    background-position-x: 70%;
  }
}

.text-gold-gradient {
  background: $gold-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gold-gradient {
  border-image-slice: 1;
  border-image-source:  $gold-gradient;
}

.text-gold-gradient-2 {
  background: $gold-gradient-2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gold-gradient-2 {
  border-image-slice: 1;
  border-image-source:  $gold-gradient-2;
}

.text-white-gradient {
  background: $white-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-blue-white-gradient {
  background: $white-gradient-2 no-repeat border-box, $blue-gradient no-repeat border-box;
}

.bg-brown-white-gradient {
  background: $white-gradient-2 no-repeat border-box, $brown-gradient no-repeat border-box;
}

.bg-white-gradient {
  background: $white-gradient;
}

.bg-gray-gradient {
  background: $gray-gradient;
}

.wave {
  background-image: url('/public/img/wave-element.svg');
  background-size: contain;
  height: 10px;
  width: 98%;
  margin-left: 1%;
}

.landing-columns {
  height: 410px;
  overflow: hidden;
  &.open {
    height: auto;
  }
}

.landing-more-link {
  &.disable{
    display:none;
  }
}

.ui-datepicker{
  z-index: 2 !important;
}

.dotted-separator {
  overflow: hidden;
  position: relative;
  &:after{
    content:'....................................................................................................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #9c9fa0;
    position: absolute;
    bottom: 2px;
  }
  span {
    z-index: 1;
    background-color: $white;
  }
}

.contact-form {
  background: #FFFFFF;
  box-shadow: 0 8px 56px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.show-more-btn {
  transition: 0.3s;
  i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEAE8;
    border-radius: 100%;
    font-size: 20px;
    padding-top: 2px;
  }

  &:hover {
    background-color: #EDEAE8;
    i {
      background-color: #ffffff;
    }
  }
}

.video-container {
  background-image: linear-gradient(to right, rgba(96, 80, 53, 0.5) 100%), url('/public/img/video-poster.png');
  background-size: cover;
  width: 100%;
  min-height: 400px;
}



