.idea/
frontend/runtime/
frontend/web/error_log
node_modules/
*.lock.json
!vendor
vendor/*
!vendor/bower
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.lastlogin
.md5sum
.spamassassinenable
.zshrc
access-logs
error_log
