.flight-request-accepted {
  .welcome-block-wrapper {
    width: 100%;
    min-height: 540px;
    background-color: #000000;

    .back-slide {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      left: 0;

      .back-slide-inner {
        float: left;
        position: relative;
        left: 50%;

        img {
          display: block;
          position: relative;
          left: -50%;
        }
      }
    }

    .welcome-block {
      padding: 60px 0;
    }

    .tickets-holder-wrapper {
      width: 100%;
      height: 100%;

      .tickets-holder-inner,
      .tickets-holder-inner-mobile {
        width: 1000px;
        min-height: 430px;
        border-radius: 16px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32);

        .ticket-grid {
          display: grid;
          grid-template-columns: 799px 200px;
        }

        .ticket-separator-line {
          border-left: 1px dashed #cfd8dc;
        }

        .header {
          width: 100%;
          height: 83px;
          border-radius: 16px 16px 0 0;
          background-color: #1565c0;

          .site {
            font-size: 15px;
            font-family: $robotomedium;
            color: #ffffff;
            padding-left: 40px;
            letter-spacing: 3px;
            text-transform: uppercase;
          }

          .ticket-number {
            font-size: 16px;
            font-family: $robotoregular;
            color: #ffffff;
            padding: 10px 0 0 30px;

            .num {
              font-size: 20px;
              font-family: $robotomedium;
              color: #ffffff;
              margin-top: 8px;
            }
          }
        }

        .content {
          width: 100%;

          .column-1 {
            padding: 40px;
          }

          .column-2 {
            padding: 40px 0 0 30px;
          }

          .phone-wrapper {
            padding-top: 10px;
          }

          .phone {
            font-family: $robotomedium;
            color: #757575;
            padding-right: 15px;
            padding-left: 32px;
      
            .icon-phone {
              position: relative;
              display: block;
              margin: 0;
              margin-right: 10px;
              width: 30px;
              height: 30px;
              font-size: 25vmin;
              background-color: #ff5722;
              border-radius: 0.5em;
              transform: translate3d(0, 0, 0) scale(1);
      
              &::before,
              &::after {
                position: absolute;
                content: "";
              }
      
              &::before {
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 100%;
                opacity: 1;
                transform: translate3d(0, 0, 0) scale(0);
                animation: phone-inner 3000ms infinite;
              }
      
              &::after {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 17px;
                height: 17px;
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                transform: translate3d(0, 0, 0);
                animation: phone-icon 3000ms infinite;
              }
      
              @keyframes phone-icon {
                0% { transform: translate3d(0em, 0, 0); }
                2% { transform: translate3d(0.01em, 0, 0); }
                4% { transform: translate3d(-0.01em, 0, 0); }
                6% { transform: translate3d(0.01em, 0, 0); }
                8% { transform: translate3d(-0.01em, 0, 0); }
                10% { transform: translate3d(0.01em, 0, 0); }
                12% { transform: translate3d(-0.01em, 0, 0); }
                14% { transform: translate3d(0.01em, 0, 0); }
                16% { transform: translate3d(-0.01em, 0, 0); }
                18% { transform: translate3d(0.01em, 0, 0); }
                20% { transform: translate3d(-0.01em, 0, 0); }
                22% { transform: translate3d(0.01em, 0, 0); }
                24% { transform: translate3d(-0.01em, 0, 0); }
                26% { transform: translate3d(0.01em, 0, 0); }
                28% { transform: translate3d(-0.01em, 0, 0); }
                30% { transform: translate3d(0.01em, 0, 0); }
                32% { transform: translate3d(-0.01em, 0, 0); }
                34% { transform: translate3d(0.01em, 0, 0); }
                36% { transform: translate3d(-0.01em, 0, 0); }
                38% { transform: translate3d(0.01em, 0, 0); }
                40% { transform: translate3d(-0.01em, 0, 0); }
                42% { transform: translate3d(0.01em, 0, 0); }
                44% { transform: translate3d(-0.01em, 0, 0); }
                46% { transform: translate3d(0em, 0, 0); }
              }
            }
      
            img {
              margin-right: 12px;
            }
      
            .title {
              color: #ff5722;
            }
      
            span {
              font-size: 17px;
              color: #212121;
            }
          }

          .name-passenger {
            font-size: 28px;
            font-family: $robotomedium;
            color: #424242;
            margin-bottom: 10px;
          }

          .people-number {
            font-size: 16px;
            font-family: $robotomedium;
            color: #424242;
          }

          .from-to {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #cfd8dc;

            .from, .to {
              width: 320px;
            }

            .icon {
              width: 29px;
              height: 31px;
              background-image: url("../../design/icons/spraite-iffc.png");
              background-repeat: no-repeat;
              background-position: -80px 0;
            }

            .detail {
              font-size: 18px;
              font-family: $robotomedium;
              color: #424242;
            }
          }

          .ticket-info {
            font-size: 16px;
            font-family: $robotoregular;
            color: #424242;
            margin-top: 40px;

            span {
              font-size: 18px;
              font-family: $robotomedium;
              color: #1565c0;
            }
          }

          .cabin-holder {
            margin-bottom: 32px;

            .ttl {
              font-size: 16px;
              font-family: $robotoregular;
              color: #424242;
              margin-bottom: 10px;
            }

            .cabin {
              font-size: 20px;
              font-family: $robotomedium;
              color: #1565c0;
            }
          }

          .date-holder {
            margin-bottom: 30px;

            .ttl {
              font-size: 16px;
              font-family: $robotoregular;
              color: #424242;
              margin-bottom: 10px;
            }

            .date {
              position: relative;
              font-size: 20px;
              font-family: $robotomedium;
              color: #424242;
              padding-left: 20px;
              box-sizing: border-box;

              &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 16px;
                top: 5px;
                left: 0;
                background-image: url("../../design/icons/spraite-iffc.png");
                background-repeat: no-repeat;
                background-position: -61px 0;
              }
            }
          }
        }
      }

      .tickets-holder-inner-mobile {
        display: none;
        width: 100%;

        .content {
          .from-to {
            .from, .to {
              width: 100%;
            }

            .from {
              margin-bottom: 5px;
            }

            .to {
              margin-top: 5px;
            }

            .icon {
              margin: 0 auto;
            }
          }

          .ticket-number {
            width: 100%;
            background-color: #1565c0;
            padding: 20px 40px;
            font-size: 16px;
            font-family: $robotoregular;
            color: #ffffff;

            .num {
              font-size: 20px;
              font-family: $robotomedium;
            }
          }
        }

        .site {
          padding-left: 0 !important;
        }
      }

      @media screen and (max-width: $mobile-size) {
        padding: 0 20px;
        box-sizing: border-box;

        .tickets-holder-inner {
          display: none;
        }

        .tickets-holder-inner-mobile {
          display: block;
        }
      }
    }
  }

  .recently-flights-wrapper {
    .head-block {
      width: 100%;
      height: 90px;

      h3 {
        font-size: 24px;
        font-family: $robotomedium;
        font-weight: normal;
        color: #212121;
      }

      .shopper-approved {
        margin-right: 30px;

        span {
          font-size: 18px;
          font-family: $robotomedium;
          color: #002639;
          margin-left: 10px;
        }

        .star {
          margin-left: 10px;
        }
      }

      .separate-line {
        position: relative;
        margin-right: 30px;

        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 40px;
          background-color: #e0e0e0;
        }
      }

      @media screen and (max-width: $mobile-size) {
        height: auto;
        flex-direction: column;
        padding: 20px 0;

        > .flex {
          flex-direction: column;
          align-items: center;

          div {
            margin-bottom: 10px;
          }
        }

        .separate-line  {
          display: none;
        }
      }
    }

    .cities-block {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding-bottom: 55px;

      .item {
        a {
          text-decoration: none;
        }

        .city-item {
          position: relative;
          overflow: hidden;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          background-color: #ffffff;

          &:hover {
            box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
          }
        }

        .photo-img {
          width: 100%;
          height: 302px;
          overflow: hidden;

          @media screen and (max-width: $the-tablet-size) {
            width: 100%;
            height: auto;
          }
        }

        .photo {
          position: relative;
          width: 100%;
          height: 300px;
          overflow: hidden;

          .back-slide {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            left: 0;
            top: 0;
          }

          .back-slide-inner {
            float: left;
            position: relative;
            left: 50%;
          }

          img {
            display: block;
            position: relative;
            left: -50%;
            height: 100%;
          }
        }

        .body {
          padding: 24px;
        }

        .title {
          font-size: 20px;
          font-family: $robotomedium;
          color: #071c26;
        }

        .rating {
          span {
            font-size: 15px;
            font-family: $robotobold;
            color: #ff5722;
            margin-left: 5px;
          }
        }

        .cabin-class {
          font-size: 14px;
          font-family: $robotoregular;
          color: #616161;
          margin: 7px 0;
        }

        .price-block {
          font-family: $robotomedium;

          .new-price {
            font-size: 18px;
            color: #ff5722;
          }

          .old-price {
            font-size: 15px;
            color: #071c26;
            text-decoration: line-through;
          }
        }
      }
    }
  }

  .contact-info-wrapper {
    font-size: 15px;
    font-family: $robotoregular;
    color: #212121;
    margin-bottom: 85px;

    .column {
      width: 600px;
    }

    p {
      margin-bottom: 20px;

      span {
        color: #ff5722;
      }
    }

    @media screen and (max-width: $mobile-size) {
      flex-direction: column;
      box-sizing: border-box;

      .column {
        width: 100%;
      }
    }
  }
}