.service-page {
  .specialsup-banner {
    width: 100%;
    font-size: 15px;
    font-family: $robotoregular;
    color: #616161;
    padding: 32px;
    background-color: #f5f5f5;
    line-height: 25px;
  }

  .body {
    margin-top: 50px;
  }
}