$robotoregular: 'robotoregular', sans-serif;
$robotomedium: 'robotomedium', sans-serif;
$robotobold: 'robotobold', sans-serif;
$robotolight: 'robotolight', sans-serif;
$playfairdisplaymedium: 'playfairdisplaymedium', sans-serif;
$playfairdisplayitalic: 'playfairdisplayitalic', sans-serif;

$the-tablet-size: 1320px;
$mobile-size: 1000px;